<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand d-flex align-items-center justify-content-between" do %>
    <%= image_tag "logo/buoy.png" %>
    <h3 id="logo-title" class="ml-3 mb-0">book a boat</h3>
  <% end %>

  <%= link_to "#", class: "navbar-btn btn btn-danger d-flex justify-content-between align-items-center" do %>
    <i class="fas fa-plus"></i>
    <p class="mb-0 ml-2">Propose a ship</p>
  <% end %>

  <%= link_to "#", class: "navbar-btn btn btn-info d-flex justify-content-between align-items-center" do %>
    <p class="mb-0">Log in</p>
  <% end %>

</div>
