// BANNER IMAGE

.banner-homepage {
  background-size: cover;
  background-position: center;
  height: 600px;
  z-index: 1;
  // position: absolute;
  top: 0px;
  width: 100%;
}

// BANNER SLOGAN AND SEARCH

.slogan {
  font-weight: 900;
  font-size: 30px;
  color: $dark-blue;
  margin-bottom: 120px;
}

.banner-container {
  margin: auto;
}

.search-bar {
  background-color: white;
  border-radius: 30px;
  padding: 6px;
  width: 80%;
  margin: auto;
}

.search-bar .col-padding {
  padding: 0;
}

.search-bar .col-margin {
  margin-right: 15px;
}

.search-bar .form-control {
  border: none;
  //border-radius: 0px;
  outline: none;
  font-size: 18px;
}

.search-bar .input-border {
  border-radius: 0px;
}

.search-bar .category-search {
  width: 500px;
}

.search-bar .first-input {
  border-radius: 20% 0% 0% 20%;
  padding-right: 20px;
}

.search-bar .input-separation {
  border-right: 1px solid grey;
  color: transparent;
  margin-right: 20px;
}

.search-bar .input-focus:focus {
  background-color: $light-blue;
  border-radius: 20px;
  border-right: none;
}

.search-btn-container {
  flex-grow: unset;
}

.search-link {
  padding: 20;
}

.search-btn-container .search-btn{
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: unset;
}
