// CATEGORY CARDS ON HOMEPAGE

.category-size {
  width: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}
.category-text {
  text-align: center;
  width: 100px;
  margin-top: 10px;
  color: $dark-blue;
  font-weight: 600;
  font-size: 20px;
}

.category-size .card-hover:hover {
  background-color: $light-orange;
}

.card-img-top {
  padding: 10px;
}

// LEASE CATEGORY ON HOMEPAGE

.lease-card {
  height: 400px;
  width: 80%;
  margin: auto;
  background-size: cover;
  background-position: 0% 85%;
  border-radius: 15px;
}

.lease-card .lease-text {
  font-weight: 900;
  color: $dark-blue;
}

.lease-card .btn-lease {
  width: fit-content;
  padding: 5px 25px;
  font-size: 25px;
  font-weight: 600;
}

// BOOKING CARD ON SHIP SHOW

.booking-card {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: sticky;
  top: 160px;
  height: fit-content;
}
