footer {
  background-color: $light-blue;
  height: 120px;
}

footer .social-link {
  text-decoration: none;

  &:hover .social-icon {
    color: $dark-blue;
  }
}

footer .social-icon {
  color: $blue;
  font-size: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

footer .footer-text {
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  background-color: $dark-blue;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
