.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

#logo-title {
  font-weight: 700;
  font-size: 40px;
  color: $dark-blue;
}

.navbar-lewagon .navbar-btn {
  font-size: 21px;

  p {
    font-size: 25px;
  }
}
