.navbar-lewagon {
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  z-index: 1000;
  transition: background 0.2s;
  height: 90px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon.scroll {
  background-color: $light-blue;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

#logo-title {
  font-weight: 700;
  font-size: 40px;
  color: $dark-blue;
}

.navbar-lewagon .navbar-btn {
  font-size: 21px;
  padding: 10px 15px;

  p {
    font-size: 20px;
    font-weight: 600;
  }
}

.navbar-lewagon .letter-spacing {
  letter-spacing: 2px;
}

@media (min-width: 250px) and (max-width: 1000px) {
  .text-display {
    display: none;
  }

  .navbar-lewagon .btn-container {
    width: 80%;
  }
}

.collapse {
  justify-content: flex-end;
}

.nav-link i {
  font-size: 30px;
}

.dropdown-menu a {
  text-decoration: none;
}
